project:
  type: website

website:
  title: "fedegiovannetti.github.io"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - href: CV.qmd
        text: CV
      - href: https://substack.com/@fedegiovannetti?
        text: Blog

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true

editor: visual

